@font-face{
    font-family: logo-font;
    src: url(../NYC-Bikes/19076.ttf)
}

html {
    background-color: bisque;
}

body {
    background-color: none;
    background-image: url(./bike.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    margin: 0px;
}

.leftside {
    width: 100%;
    height: 900px;

    display: flex;
    flex-flow: column nowrap;
    align-items:flex-start;
    justify-content: flex-end;
    flex-grow: 1;

    /* border: 2px solid red; */
}
.leftside .logo{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding-left: 0px;

    background-color: black;
    align-self: stretch;
    opacity: 0.55;

    height: 100px;

    position: relative;
    bottom: 350px;
}
.leftside .logo h1{
    font-family: logo-font, sans-serif;
    font-size: xxx-large;
    color: #dc782e;
    margin-left: -500px;
}
.leftside p{
    background-color: transparent;
    color: aliceblue;

    position: relative;
    top: 0px;
    left: 50px;
}

.rightside {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    align-self: stretch;

    flex-grow: 1;
    background-color: whitesmoke;
}

.section1{
    display: flex;
    flex-flow: column nowrap;
    align-content:center;

    background-color: #f5f5f5;

    /* border: 2px solid red; */
}
.section1 h3{
    width: 500px;

    position:relative;
    left: 20px;

    /* border: 2px dashed greenyellow; */
}
.section1 .youknow{
    position: relative;
    bottom: 10px;
}

.section2 .input-right{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}
.section2 .input-left{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}
.section2 fieldset {
    width: 500px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    border: none;
    margin: none;
    box-shadow: 0 0.3em 0.3em lightgrey;
}
.section2 .input {
    display: flex;
    flex-flow: column nowrap;
}
.section2 h3 {
    position: relative;
    left: 20px;
}

.section3{
    position: relative;
}

.section3 button {
    color: aliceblue;
    background-color: #dc782e;
    width: 150px;
    height: 40px;

    display:inline;

    position: relative;
    top: 20px;
    left: 50px;
    border-radius: 120px/100px;
}

.section3 p {
    position: relative;
    top: 30px;
    left: 45px;
}

.section p,strong {
    color:#dc782e;
    font-family: logo-font,sans-serif;
    font-size: x-large;
}