body {
    background-color: bisque;
    background-image: url(./bike.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    margin: 0px;
}

.leftside {
    width: 100%;
    height: 900px;

    display: flex;
    flex-flow: column nowrap;
    align-items:flex-start;
    justify-content: flex-end;
    flex-grow: 1;

    /* border: 2px solid red; */
}
.leftside .logo{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding-left: 0px;

    background-color: black;
    align-self: stretch;
    opacity: 0.55;

    height: 100px;

    position: relative;
    bottom: 350px;
}
.leftside .logo h1{
    color: #dc782e;
    margin-left: -500px;
}
.leftside p{
    background-color: transparent;
    color: aliceblue;

    position: relative;
    top: 50px;
    left: 50px;
}

.rightside {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    align-self: stretch;

    background-color: whitesmoke;
}

.section1{
    display: flex;
    flex-flow: column nowrap;
    align-content:center;

    /* border: 2px solid red; */
}

.section1 h3{
    width: 500px;

    position:relative;
    left: 20px;

    /* border: 2px dashed greenyellow; */
}

.input-right{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.input-left{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.section3{
    position: relative;
}

button {
    color: aliceblue;
    background-color: #dc782e;
    width: 100px;
    height: 40px;

    border-radius: 120px/100px;
}

fieldset {
    width: 500px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.input {
    display: flex;
    flex-flow: column nowrap;
}